:root {
  /* colors */
  --accent-color: #1ca80b;
  --border-color: rgb(148, 148, 148);
  --primary-text-color: #121212;
  --secondary-text-color: #fff;
  --bg-light-color: rgba(148, 148, 148, 0.2);
  --errors-color: #fa2525;

  /* sizes */
  --primary-border-radius: 7px;
  --rounded-border-radius: 50%;
  --header-height: 60px;
  --control-panel-height: 60px;

  /* transitions */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 350ms;
}
